<h1>마음껏 질문해 주세요</h1>
<form action="question/create" method="post">
  이름 : <input type="text" name="input_name" placeholder="익명의 사자">
  질문 : <input type="text" name="input_content" placeholder="뭐가 궁금합니까">
  <input type="submit" value="물어보기!">
</form>